<!--p>sidebar works!</p-->
<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <!--routerLink, cuando presionen salte a localhost.xxx/pais-pais-->
    <!--routerLinkActive, cuando funcione el css, desplegará seleccionado -->
    <li routerLink="pais-pais" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        class="list-group-item active">Buscar Pais</li>

    <!--routerLink, cuando presionen salte a localhost.xxx/pais-region-->
    <li routerLink="pais-region" 
       routerLinkActive="active"
       class="list-group-item">Buscar Region</li>

    <!--routerLink, cuando presionen salte a localhost.xxx/pais-capital-->
    <li routerLink="pais-capital"
       routerLinkActive="active"
       class="list-group-item">Buscar Capital</li>
    <!-- no conviene por refresco-->
    <li class="list-group-item"><a href="/capital">Prueba Capital href</a></li>

</ul>