<!--p>por-pais works!</p-->
<h2>Por Pais</h2>
<hr>
<div class="row">
    <div class="col">
<!-- (onEnter) cuando no emita la señal onEnter ejecute buscarEmit-->
<!-- (onDebounce) cuando no emita la señal onDebounce ejecute sugerencia-->
<!-- placeHolderVar, lo enviamos como parámetro-->
<app-pais-input
        (onEnter)="buscarEmit( $event )"
        (onDebounce)="sugerencia($event)"
        placeHolderVar="Harrisito, Buscar por País..."
        ></app-pais-input>
    </div>

<!-- A Medida que se escriba, se mostrará un bloque
     con las posibles palabras
-->
    <ul *ngIf="mostrarSugerencias"
        class="list-group">
<!--Muestra los paisesSugeridos-->
        <li *ngFor="let pais of paisesSugeridos"
            class="list-group-item list-group-item-action">
            <a class="nav-link"
               [routerLink]="['/ver-pais', pais.alpha2Code]">
                {{ pais.name }}
            </a>
        </li>
<!--(click), buscar el país seleccionado desde los sugeridos -->        
        <li class="list-group-item list-group-item-action"
            (click)="buscarSugerido( txBuscar )">
            <a class="nav-link">
                Buscar "{{ txBuscar }}"
            </a>
        </li>
    </ul>
</div>

<hr>

<div class="alert alert-danger"
     *ngIf="swError">
    No se encontro data, con {{txBuscar}}
</div>

<!--El componente pais-tabla muestra los resultados -->
<div class="row" *ngIf="!swError">
    <div class="col">
         <!--[paises_entrada]="paises"-->
        <app-pais-tabla [paises_entrada]="paises"
        ></app-pais-tabla>
    </div>
</div>