<!--p>pais-input works!</p-->
<!-- (ngSubmit) cuando presiona enter ejecuta buscar()-->
<form autocomplete="off" 
     action=""
     (ngSubmit)="buscar()"
     >
<!--Recordar realizar import FormsModule  -->     
<!--(input) ejecuta el método teclaPresionada, cada vez que presiona una tecla-->
<!--[(ngModel)] vinculación en ambos sentido-->
<!-- placeHolderVar, Recibido como parámetro desde el padre en el TS-->
<input type="text"
     name="txBuscar"
     class="form-control"
     (input)="teclaPresionada($event)"
     [(ngModel)]="txBuscar"
     [placeholder]="placeHolderVar"
     >
     <!--placeholder="Buscar Por Pais...."-->
</form>